* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Header*/
html,
body {
	width: 100%;
	height: 100%;
}
header h1 {
	color: #fff;
	margin: 0;
	padding: 0;
}

.rome-padding {
	margin: 0 !important;
	padding: 0 !important;
}

.table td,
.table th {
	border-top: none !important;
}
.fa {
	display: none !important;
}
tr:hover .fa {
	display: inline-block !important;
}

.line-through {
	text-decoration-line: line-through;
	text-decoration-style: double;
	text-decoration-color: #e91e63;
}
h2 {
	margin-bottom: 0px !important;
}

/*Responsive*/
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 40px;
	}
}

@media only screen and (max-width: 576px) {
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 30px;
	}
}
